.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.task-item button {
  display: block;
}

.task-item i {
  margin-left: 10px;
}
