#root {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP", Inter, system-ui, Avenir, sans-serif;
  color: #eeeeee;
  background-color: #48484a;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  min-width: 900px;
}
